<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Birthday Month</title>
    <link rel="stylesheet" href="lib/birthday.css" />
</head>
<body>
	<section id="app">
	</section>

	<script type="text/template" id="button-template">
			<br />
			<section id=<%= this.id %>>
				<label><%= this.id %></label>
				<button id="numButton">Number</button>
				<button id="nameButton">Name</button>
			</section>
	</script>

	<script type="text/template" id="year-template">
	</script>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="birthday.js"></script>
</body>
</html>